@model Message
@{
    ViewData["Title"] = "Forum Post";
}
<h1>Forum Post</h1>
<form method="Post">
    <label for="to">To</label>
    <input id="to" name="To.Name"><br>
    <label for="from">From</label>
    <input id="from" name="From.Name"><br>
    <label for="message">Message</label>
    <input id="message" name="Text"><br>
    <input type="submit">
</form>

