@model Message

<h1>Forum Post</h1>
<form method="Post">
    <label for="to">To</label>
    <input id="to" name="To"><br>
    <label for="from">From</label>
    <input id="from" name="From"><br>
    <label for="message">Message</label>
    <input id="message" name="Text"><br>
    <input type="submit">
</form>

