@model QuizQuestions

<form method="post">
    @Model.Questions[1]<br />
    <input name="answer1"/><br />
    @Model.Questions[2]<br />
    <input /><br />
    @Model.Questions[3]<br />
    <input /><br />
    <input type="submit" />
</form>
