@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about the amazing world of pigeons!</p>
</div>
<p>
    <a href="Home/Overview">Overview</a>: Learn more about pigeons
</p>
<p>
    <a href="Home/Reference">References</a>: Sources of information on pigeons
</p>
