@{
    ViewData["Title"] = "Pigeon Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about the amazing world of pigeons!</p>
    Make a <a href="Registry/ForumPost">forum post</a>
</div>
